body{
    margin:0;
    font-family:Arial,sans-serif;
}
#nextBtn{
    padding:15px 30px;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
    color:white;
    background:linear-gradient(45deg,#ff416c,#ff4b2b);
    box-shadow:0 0 15px #ff416c;
    transition:0.3s;
}

#nextBtn:hover{
    transform:scale(1.05);
}
